.header {
  width: 100%;
  padding: 16px;

  .app-title {
    font-size: 28px;
    font-weight: bold;
  }

  .change-country {
    position: absolute;
    top: 20px;
    right: 16px;
  }

  #form-search {
    margin-top: 16px;
  }

}