@import '../../../node_modules/sass-flexbox';

.mv-list {
  @include display-flex;
  @include flex-direction-column;
  position: relative;
  flex: 1 0 100%;
  height: 100%;
  margin: 16px 0 32px;
  text-align: center;
  // background-color: #eee;
  @media screen and (min-width: 480px) {
    flex: 1 0 50%;
  }
  @media screen and (min-width: 600px) {
    flex: 0 1 33.3333%;
  }
  @media screen and (min-width: 720px) {
    flex: 0 1 25%;
  }
  @media screen and (min-width: 1024px) {
    flex: 1 0 20%;
  }

  .mv-top-num {
    @include order($order: 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    z-index: 10;
    background: #000;
    border-radius: 50%;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    line-height: 34px;
  }

  .mv-title {
    @include order($order: 3);
    margin-top: 12px;
    margin-bottom: 8px;
    padding: 0 16px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2em;
    color: #444;
  }

  .mv-gui-wrapper {
    position: relative;

    .mv-rating {
      @include order($order: 2);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background: #fff;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 34px;
    }

    .mv-poster {
      @include order($order: 1);
      margin: (34px / 2);
      width: calc(100% - 34px);
      height: 100%;
      // max-height: 300px;
      // overflow: hidden;
      picture {
        display: block;
        width: 100%;
        height: 100%;
      }
        img {
          width: 100%;
          height: 100%;
        }
    }
  }

  .mv-release {
    @include order($order: 4);
    font-size: 1.5rem;
    color: #4e4e4e;
    .mv-release-date {
      display: block;
      margin-top: 4px;
      padding-left: 6px;
      font-weight: bold;
      color: #6e6e6e;
    }
  }
}