@import '../../../node_modules/sass-flexbox';

.mv-now-playing {
  @include display-flex;
  @include flex-flow($direction: row, $wrap: nowrap);
  width: 100%;
  margin: 0;
  padding: 0 16px;
  background: #eee;
  overflow-x: scroll;
}